/*    CSS Reset     */
/*    https://www.joshwcomeau.com/css/custom-css-reset/   */

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* Project CSS */

* {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.title {
    font-size: 34px;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    height: 500px;
    width: 500px;
    align-items: stretch;
}

.row {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: stretch;
}

.tile {
    width: 20px;
    height: 100%;
    flex: 1;
    align-self: stretch;
    user-select: none;
    /*border: 1px solid gray;*/
}

button {
    padding: 7px 14px;
}

.slider {
    /*appearance: none;*/
    outline: none;
}